<div class="container mt-4">

  <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successMsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usr of readUser">
            <th scope="row">{{usr.id}}</th>
            <td>{{usr.fullname}}</td>
            <td>{{usr.email}}</td>
            <td>{{usr.mobile}}</td>
            <td><button class="btn btn-danger" (click)="deleteId(usr.id)">Delete</button></td>
            <td><a [routerLink]="['/create',usr.id]" class="btn btn-success">Update</a></td>
          </tr>
        </tbody>
      </table>
</div>