<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a style="color: aliceblue;" class="navbar-brand" >Testy Codeiz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color: aliceblue;" class="nav-link active" routerLink="read" >User Info</a>
        <a style="color: aliceblue;" class="nav-link" routerLink="read" >All Users </a>
        <a style="color: aliceblue;" class="nav-link" routerLink="create" >Create Users</a>
      </div>
    </div>
  </div>
</nav>
<h1 class="text-center mt-2"> User Information Application by TestyCodeiz</h1>
<h2 class="text-center mt-1">Angular 12 + Nodejs + Express + Mysql With Ashish</h2>
<router-outlet></router-outlet>